# **Data Science 100 Exercises (Structured Data Processing Edition) - Python**

## Basic setting

In [53]:
import os
import pandas as pd
import numpy as np

dtype = {
    'customer_id': str,
    'gender_cd': str,
    'postal_cd': str,
    'application_store_cd': str,
    'status_cd': str,
    'category_major_cd': str,
    'category_medium_cd': str,
    'category_small_cd': str,
    'product_cd': str,
    'store_cd': str,
    'prefecture_cd': str,
    'tel_no': str,
    'postal_cd': str,
    'street': str
}

df_customer = pd.read_csv("data/preprocessed/customer_eng.csv", dtype=dtype)
df_category = pd.read_csv("data/raw/category.csv", dtype=dtype)
df_product = pd.read_csv("data/raw/product.csv", dtype=dtype)
df_receipt = pd.read_csv("data/raw/receipt.csv", dtype=dtype)
df_store = pd.read_csv("data/preprocessed/store_eng.csv", dtype=dtype)
df_geocode = pd.read_csv("data/raw/geocode.csv", dtype=dtype)

## Exercise Problems

---
> P-001: Display the first 10 rows of all items from the receipt details data (df_receipt) to visually confirm what kind of data it contains.

In [54]:
df_receipt.head(10)

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
0,20181103,1541203200,S14006,112,1,CS006214000001,P070305012,1,158
1,20181118,1542499200,S13008,1132,2,CS008415000097,P070701017,1,81
2,20170712,1499817600,S14028,1102,1,CS028414000014,P060101005,1,170
3,20190205,1549324800,S14042,1132,1,ZZ000000000000,P050301001,1,25
4,20180821,1534809600,S14025,1102,2,CS025415000050,P060102007,1,90
5,20190605,1559692800,S13003,1112,1,CS003515000195,P050102002,1,138
6,20181205,1543968000,S14024,1102,2,CS024514000042,P080101005,1,30
7,20190922,1569110400,S14040,1102,1,CS040415000178,P070501004,1,128
8,20170504,1493856000,S13020,1112,2,ZZ000000000000,P071302010,1,770
9,20191010,1570665600,S14027,1102,1,CS027514000015,P071101003,1,680

---
> P-002: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and display 10 rows.

In [55]:
df_receipt.loc[:, ['sales_ymd', 'customer_id', 'product_cd', 'amount']].head(10)

   sales_ymd     customer_id  product_cd  amount
0   20181103  CS006214000001  P070305012     158
1   20181118  CS008415000097  P070701017      81
2   20170712  CS028414000014  P060101005     170
3   20190205  ZZ000000000000  P050301001      25
4   20180821  CS025415000050  P060102007      90
5   20190605  CS003515000195  P050102002     138
6   20181205  CS024514000042  P080101005      30
7   20190922  CS040415000178  P070501004     128
8   20170504  ZZ000000000000  P071302010     770
9   20191010  CS027514000015  P071101003     680

---
> P-003: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and display 10 rows. However, change the item name sales_ymd to sales_date when extracting.

In [56]:
df_receipt_spec = df_receipt.loc[:, ['sales_ymd', 'customer_id', 'product_cd', 'amount']]
df_receipt_spec.head()

   sales_ymd     customer_id  product_cd  amount
0   20181103  CS006214000001  P070305012     158
1   20181118  CS008415000097  P070701017      81
2   20170712  CS028414000014  P060101005     170
3   20190205  ZZ000000000000  P050301001      25
4   20180821  CS025415000050  P060102007      90

---
> P-004: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and extract the data that meets the following condition:
> * The customer ID (customer_id) is "CS018205000001".

In [57]:
df_receipt_spec[df_receipt_spec['customer_id'] == 'CS018205000001']

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
9843    20180414  CS018205000001  P060104007     600
21110   20170614  CS018205000001  P050206001     990
27673   20170614  CS018205000001  P060702015     108
27840   20190216  CS018205000001  P071005024     102
28757   20180414  CS018205000001  P071101002     278
39256   20190226  CS018205000001  P070902035     168
58121   20190924  CS018205000001  P060805001     495
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100
88508   20190216  CS018205000001  P040101002     218
91525   20190924  CS018205000001  P091503001     280

---
> P-005: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and extract the data that meets all of the following conditions:
> * The customer ID (customer_id) is "CS018205000001".
> * The sales amount (amount) is 1,000 or more.

In [58]:
df_receipt_spec[
    (df_receipt_spec['customer_id'] == 'CS018205000001') 
    & (df_receipt_spec['amount'] >= 1000)
]

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100

---
> P-006: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), sales quantity (quantity), and sales amount (amount), and extract the data that meets all of the following conditions:
> * The customer ID (customer_id) is "CS018205000001".
> * The sales amount (amount) is 1,000 or more or the sales quantity (quantity) is 5 or more.

In [59]:
df_receipt_new = df_receipt.loc[:, ['sales_ymd', 'customer_id', 'product_cd', 'quantity', 'amount']]
df_receipt_new[
    (df_receipt_new['customer_id'] == 'CS018205000001')
    & ((df_receipt_new['amount'] >= 1000) | (df_receipt_new['quantity'] >= 5))
]

       sales_ymd     customer_id  product_cd  quantity  amount
36      20180911  CS018205000001  P071401012         1    2200
9843    20180414  CS018205000001  P060104007         6     600
21110   20170614  CS018205000001  P050206001         5     990
68117   20190226  CS018205000001  P071401020         1    2200
72254   20180911  CS018205000001  P071401005         1    1100

---
> P-007: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and extract the data that meets all of the following conditions:
> * The customer ID (customer_id) is "CS018205000001".
> * The sales amount (amount) is 1,000 or more and 2,000 or less.

In [60]:
df_receipt_spec[
    (df_receipt_spec['customer_id'] == 'CS018205000001')
    | ((df_receipt_spec['amount'] >= 1000) & (df_receipt_spec['amount'] <= 2000))
]

        sales_ymd     customer_id  product_cd  amount
17       20181225  ZZ000000000000  P071401002    1100
36       20180911  CS018205000001  P071401012    2200
40       20170501  CS004415000232  P090301078    1880
75       20180310  ZZ000000000000  P071401002    1100
87       20170516  CS023415000240  P071401004    1100
...           ...             ...         ...     ...
104582   20190902  ZZ000000000000  P071401003    1100
104585   20180610  ZZ000000000000  P040603001    1980
104610   20190605  CS040515000096  P071401001    1100
104622   20170801  CS017515000174  P090701080    1280
104662   20191024  CS011411000001  P071401001    1100

[5484 rows x 4 columns]

---
> P-008: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and extract the data that meets all of the following conditions:
> * The customer ID (customer_id) is "CS018205000001".
> * The product code (product_cd) is not "P071401019".

In [61]:
df_receipt_spec[
    (df_receipt_spec['customer_id'] == 'CS018205000001')
    & (df_receipt_spec['product_cd'] != 'PP071401019')
]

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
9843    20180414  CS018205000001  P060104007     600
21110   20170614  CS018205000001  P050206001     990
27673   20170614  CS018205000001  P060702015     108
27840   20190216  CS018205000001  P071005024     102
28757   20180414  CS018205000001  P071101002     278
39256   20190226  CS018205000001  P070902035     168
58121   20190924  CS018205000001  P060805001     495
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100
88508   20190216  CS018205000001  P040101002     218
91525   20190924  CS018205000001  P091503001     280

---
> P-009: Rewrite the following process without changing the output results, replacing the OR condition with AND.
> 
> `df_store.query('not(prefecture_cd == "13" | floor_area > 900)')`

In [62]:
df_store_009_0 = df_store.query('not(prefecture_cd == "13" | floor_area > 900)')
df_store_009 = df_store.query('not(prefecture_cd == "13") & not (floor_area > 900)')
df_store_009

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
18,S14046,Kitayamada store,14,Kanagawa Prefecture,"Kitamada 1-chome, Tsuzuki-ku, Yokohama-shi, Ka...",045-123-4049,139.5916,35.56189,831.0
20,S14011,Hiyoshi Honmachi store,14,Kanagawa Prefecture,"4-chome Honcho, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4033,139.6316,35.54655,890.0
38,S12013,Narashino store,12,Chiba prefecture,"1-chome Shibaen, Narashino City, Chiba Prefecture",047-123-4002,140.0220,35.66122,808.0

---
> P-010: From the store data (df_store), extract and display 10 rows of all items where the store code (store_cd) starts with "S14".

In [98]:
df_store.query("store_cd.str.startswith('S14')").head(10)

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
2,S14010,Kikuna store,14,Kanagawa Prefecture,"Kikuna 1-chome, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4032,139.6326,35.50049,1732.0
3,S14033,Akuwa store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4043,139.4961,35.45918,1495.0
4,S14036,Sagamihara Central Store,14,Kanagawa Prefecture,"2-chome, Chuo, Sagamihara City, Kanagawa Prefe...",042-123-4045,139.3716,35.57327,1679.0
7,S14040,Nagatsuta store,14,Kanagawa Prefecture,"Nagatsuda Minamidai 5-chome, Midori-ku, Yokoha...",045-123-4046,139.4994,35.52398,1548.0
9,S14050,Akuwa Nishi store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4053,139.4961,35.45918,1830.0
12,S14028,Futatsu Bridge store,14,Kanagawa Prefecture,"Futatsuhashi-cho, Seya-ku, Yokohama-shi, Kanagawa",045-123-4042,139.4963,35.46304,1574.0
16,S14012,Honmaki Wada store,14,Kanagawa Prefecture,"Honmaki Wada, Naka-ku, Yokohama-shi, Kanagawa",045-123-4034,139.6582,35.42156,1341.0
18,S14046,Kitayamada store,14,Kanagawa Prefecture,"Kitamada 1-chome, Tsuzuki-ku, Yokohama-shi, Ka...",045-123-4049,139.5916,35.56189,831.0
19,S14022,Zushi store,14,Kanagawa Prefecture,"Zushi 1-chome, Zushi City, Kanagawa Prefecture",046-123-4036,139.5789,35.29642,1838.0
20,S14011,Hiyoshi Honmachi store,14,Kanagawa Prefecture,"4-chome Honcho, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4033,139.6316,35.54655,890.0

---
> P-011: From the customer data (df_customer), extract and display 10 rows of all items where the customer ID (customer_id) ends with "01".

In [100]:
df_customer.query("customer_id.str.endswith('01')", engine='python').head(10)

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
82,CS026612000001,Nao Umemura,1,Male,1953-03-11,66,253-0012,"Owada, Chigasaki City, Kanagawa Prefecture",S14026,20150705,0-00000000-0
254,CS003713000101,Fujimura Tamaki,9,Unknown,1945-03-30,74,182-0022,"Kokuro -cho, Chofu -shi, Tokyo",S13003,20160531,0-00000000-0
280,CS001613000401,Chiemi Fukuda,1,Male,1954-10-04,64,144-0035,"Minami Kamata, Ota -ku, Tokyo",S13001,20170305,0-00000000-0
293,CS048611000001,Mika Itagaki,1,Male,1954-05-26,64,223-0066,"Takada Nishi, Kohoku -ku, Yokohama -shi, Kanagawa",S14048,20161030,0-00000000-0
294,CS010512000001,Love of Takashima,1,Male,1966-06-19,52,223-0057,"Shinhamachi, Kohoku -ku, Yokohama -shi, Kanagawa",S14010,20160101,0-00000000-0
296,CS046611000001,Satomi Asada,1,Male,1955-07-09,63,223-0066,"Takada Nishi, Kohoku -ku, Yokohama -shi, Kanagawa",S14046,20170620,0-00000000-0
358,CS033513000001,Miho Saito,1,Male,1964-06-18,54,246-0037,"Hashido, Seya -ku, Yokohama -shi, Kanagawa",S14033,20150918,9-20090809-6
359,CS003303000001,Masahiko Miki,0,Female,1980-11-11,38,201-0002,"Higashinogawa, Komae City, Tokyo",S13003,20150425,0-00000000-0
366,CS031615000101,Rina Fujimura,1,Male,1951-07-29,67,151-0064,"Uehara, Shibuya -ku, Tokyo",S13031,20150421,0-00000000-0
512,CS030112000001,Haruki Yamauchi,1,Male,2002-01-26,17,272-0814,"Takaishijin, Ichikawa City, Chiba Prefecture",S12030,20150620,0-00000000-0

---
> P-012: From the store data (df_store), display all items that include "Yokohama City" in the address (address).

In [102]:
df_store.query("address.str.contains('Yokohama City')").head(10)

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
52,S14006,Kuzugaya store,14,Kanagawa Prefecture,"Kuzugaya, Tsuzuki-ku, Yokohama City, Kanagawa ...",045-123-4031,139.5633,35.53573,1886.0

---
> P-013: From the customer data (df_customer), extract and display 10 rows of all items where the status code (status_cd) starts with an alphabet from A to F.

In [ ]:
alphabet_range = tuple(chr(i) for i in range(ord('A'), ord('F')))
df_customer[df_customer['status_cd'].str.startswith(alphabet_range)].head(10)

In [107]:
# Answer:
(
    df_customer[["customer_id", "customer_name", "address", "status_cd"]]
    .query("status_cd.str.contains(r'[A-F]')")
).head(10)

,customer_id,customer_name,address,status_cd
0,CS019415000154,Yuki Umemura,"Hikawadai, Nerima -ku, Tokyo",E-20101014-E
4,CS033515000071,Yuki Suwa,"Seya -ku, Yokohama -shi, Kanagawa",D-20100930-D
16,CS024415000146,Sachiko Hosaka,"Ikuta, Tama -ku, Kawasaki City, Kanagawa Prefe...",D-20101026-F
45,CS019415000084,Honzan Mami,"Hazawa, Nerima -ku, Tokyo",C-20101012-E
46,CS026513000087,Natsuki Kikuchi,"Tsujido, Fujisawa City, Kanagawa Prefecture",7-20100613-A
53,CS019214000008,Reina Okuno,"Chihaya, Toshima -ku, Tokyo",D-20100714-A
54,CS002515000256,Yoko Kikuchi,"Kokubunji -shi, Tokyo Nishiki Kokubo",A-20100303-7
63,CS017315000023,Reina Uchino,"Narita Higashi, Suginami -ku, Tokyo",C-20090424-5
70,CS030415000034,Tamaki Nanko,"Owada, Ichikawa City, Chiba Prefecture",F-20101020-F
72,CS025214000016,Furukawa Erika,"Kamiiida -cho, Izumi -ku, Yokohama -shi, Kanagawa",D-20101029-F

---
> P-014: From the customer data (df_customer), extract and display 10 rows of all items where the status code (status_cd) ends with a number from 1 to 9.

In [ ]:
endrule = tuple(str(i) for i in range(1, 10))
df_customer[df_customer['status_cd'].str.endswith(endrule)].head(10)

In [110]:
# Answer
(
    df_customer[["customer_id", "customer_name", "address", "status_cd"]]
    .query("status_cd.str.contains(r'[1-9]$')")
).head(10)

,customer_id,customer_name,address,status_cd
1,CS008514000047,Nozomi Ishikawa,"Iwato Kita, Komae City, Tokyo",6-20100613-8
3,CS004615000296,Yu Tateishi,"Nakano -ku, Tokyo Nomo",4-20080701-1
8,CS020412000046,An apricot of Kurosaki,"Shimura, Itabashi -ku, Tokyo",1-20100516-3
11,CS031514000047,Reiko Haraguchi,"Uehara, Shibuya -ku, Tokyo",8-20090607-6
12,CS017513000183,Kyoko Suenaga,"Nakano -ku, Tokyo Nomo",1-20090203-3
15,CS044415000024,Chikako Sugino,"Kamata, Ota -ku, Tokyo",6-20101016-9
24,CS025512000055,Mayuko Mizuguchi,"Fukuda, Yamato City, Kanagawa Prefecture",4-20090705-4
34,CS011315000042,Aya Inagaki,"Hiyoshi, Kohoku -ku, Yokohama -shi, Kanagawa",1-20080219-3
41,CS001315000186,Mikako Tomita,"Nakarokugo, Ota -ku, Tokyo",3-20080412-1
49,CS026615000130,Rie Matsunaga,"Tsujido Motomachi, Fujisawa City, Kanagawa Pre...",8-20090727-5

---
> P-015: From the customer data (df_customer), extract and display 10 rows of all items where the status code (status_cd) starts with an alphabet from A to F and ends with a number from 1 to 9.

In [ ]:
startrule = tuple(chr(i) for i in range(ord('A'), ord('F')))
endrule = tuple(str(i) for i in range(1, 10))
df_customer[
    df_customer['status_cd'].str.startswith(startrule)
    & df_customer['status_cd'].str.endswith(endrule)
].head(10)

In [112]:
(
    df_customer[["customer_id", "customer_name", "address", "status_cd"]]
    .query("status_cd.str.contains(r'^[A-F].*[1-9]$')")
).head(10)

,customer_id,customer_name,address,status_cd
54,CS002515000256,Yoko Kikuchi,"Kokubunji -shi, Tokyo Nishiki Kokubo",A-20100303-7
63,CS017315000023,Reina Uchino,"Narita Higashi, Suginami -ku, Tokyo",C-20090424-5
163,CS022415000100,Misako Sunagawa,"Shinjuku, Zushi City, Kanagawa Prefecture",B-20091009-9
167,CS038314000035,Kyoko Okunuki,"Higashi Kasai, Edogawa -ku, Tokyo",A-20100917-9
239,CS025512000143,Yoshino Kikuchi,"Shibuya, Yamato City, Kanagawa Prefecture",B-20090802-5
282,CS010513000187,Asami Matsukawa,"Samido -cho, Kohoku -ku, Yokohama -shi, Kanagawa",D-20100808-2
319,CS020212000014,Matsui Natsuzora,"Kawaguchi, Kawaguchi City, Saitama Prefecture",E-20100524-7
432,CS019215000029,Mayuko Sawa,"Sakuradai, Nerima -ku, Tokyo",A-20100622-9
520,CS015414000138,Erika Kusano,"Minami sand in Koto -ku, Tokyo",D-20100504-9
524,CS035615000040,Daigoro Kawanishi,"Kamimariga, Setagaya -ku, Tokyo",E-20100830-6

---
> P-016: From the store data (df_store), display all items where the telephone number (tel_no) starts with 3 digits and ends with 4 digits.

In [ ]:
df_store.query("tel_no.str.match(r'^\d{3}.*\d{4}$')").head(10)

In [115]:
df_store.query("tel_no.str.match(r'^[0-9]{3}.*[0-9]{4}$')").head(10)

,store_cd,store_name,prefecture_cd,prefecture,address,tel_no,longitude,latitude,floor_area
0,S12014,Chigakadai store,12,Chiba prefecture,"1-chome, Chigusadai, Inage-ku, Chiba-shi, Chiba",043-123-4003,140.1180,35.63559,1698.0
1,S13002,Kokubunji Temple,13,Tokyo,"Honda 2-chome, Kokubunji City, Tokyo",042-123-4008,139.4802,35.70566,1735.0
2,S14010,Kikuna store,14,Kanagawa Prefecture,"Kikuna 1-chome, Kohoku-ku, Yokohama-shi, Kanagawa",045-123-4032,139.6326,35.50049,1732.0
3,S14033,Akuwa store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4043,139.4961,35.45918,1495.0
4,S14036,Sagamihara Central Store,14,Kanagawa Prefecture,"2-chome, Chuo, Sagamihara City, Kanagawa Prefe...",042-123-4045,139.3716,35.57327,1679.0
7,S14040,Nagatsuta store,14,Kanagawa Prefecture,"Nagatsuda Minamidai 5-chome, Midori-ku, Yokoha...",045-123-4046,139.4994,35.52398,1548.0
9,S14050,Akuwa Nishi store,14,Kanagawa Prefecture,"Akuwa Nishi 1-chome, Seya-ku, Yokohama-shi, Ka...",045-123-4053,139.4961,35.45918,1830.0
11,S13052,Morino store,13,Tokyo,"Morino Sanchome, Machida City, Tokyo",042-123-4030,139.4383,35.55293,1087.0
12,S14028,Futatsu Bridge store,14,Kanagawa Prefecture,"Futatsuhashi-cho, Seya-ku, Yokohama-shi, Kanagawa",045-123-4042,139.4963,35.46304,1574.0
16,S14012,Honmaki Wada store,14,Kanagawa Prefecture,"Honmaki Wada, Naka-ku, Yokohama-shi, Kanagawa",045-123-4034,139.6582,35.42156,1341.0

---
> P-017: Sort the customer data (df_customer) in descending order by birth date (birth_day), and display the first 10 rows of all items.

In [117]:
df_customer.sort_values('birth_day', ascending=False).head(10)

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
134,CS004112000011,Miyu Tamaki,1,Male,2007-01-03,12,161-0031,"Nishimoho, Shinjuku -ku, Tokyo",S13004,20160615,0-00000000-0
516,CS021102000003,Nakahara,0,Female,2006-05-17,12,254-0004,"Kobujima, Hiratsuka City, Kanagawa Prefecture",S14021,20180510,0-00000000-0
560,CS032115000007,Tomono Noguchi,1,Male,2006-04-11,12,144-0056,"Nishi -Rokugo, Ota -ku, Tokyo",S13032,20150428,B-20100822-A
44,CS019114000002,Mami Morii,1,Male,2004-12-17,14,171-0041,"Chikawa, Toshima -ku, Tokyo",S13019,20150507,0-00000000-0
703,CS037112000007,Sayaka Temple,1,Male,2004-01-20,15,101-0031,"Higashi Kanda, Chiyoda -ku, Tokyo",S13037,20151108,0-00000000-0
250,CS032115000006,Koizumi High History,9,Unknown,2003-11-14,15,144-0056,"Nishi -Rokugo, Ota -ku, Tokyo",S13032,20150223,6-20100725-A
101,CS021115000004,Hikaru Kurata,1,Male,2003-01-19,16,259-1111,"Nishi -Tomioka, Isehara City, Kanagawa Prefecture",S14021,20150212,E-20100925-E
512,CS030112000001,Haruki Yamauchi,1,Male,2002-01-26,17,272-0814,"Takaishijin, Ichikawa City, Chiba Prefecture",S12030,20150620,0-00000000-0
867,CS011412000021,Riho Tamada,1,Male,1999-10-21,19,165-0022,"Ekoda, Nakano -ku, Tokyo",S14011,20150526,4-20090412-3
938,CS028213000058,Mayuko Terashima,1,Male,1997-12-17,21,246-0025,"Akuwanishi, Seya -ku, Yokohama -shi, Kanagawa",S14028,20180806,0-00000000-0

---
> P-018: Sort the customer data (df_customer) in ascending order by birth date (birth_day), and display the first 10 rows of all items.

In [119]:
df_customer.sort_values('birth_day', ascending=True).head(10)

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
401,CS017811000003,Yuu Kageyama,1,Male,1930-02-27,89,166-0001,"Asaya Kita, Suginami -ku, Tokyo",S13017,20150224,0-00000000-0
258,CS030802000009,Shingo Shogo,0,Female,1930-08-31,88,272-0803,"Ichikawa -shi, Chiba",S12030,20180506,0-00000000-0
927,CS038813000006,Miyuki Toshima,1,Male,1931-01-07,88,134-0084,"Higashi Kasai, Edogawa -ku, Tokyo",S13038,20150603,0-00000000-0
640,CS005812000025,Ryo Nagase,1,Male,1931-10-06,87,176-0022,"Mukoyama, Nerima -ku, Tokyo",S13005,20170524,0-00000000-0
200,CS024815000023,Mayuko Takenaka,1,Male,1931-11-25,87,214-0035,"Nagasawa, Tama -ku, Kawasaki City, Kanagawa Pr...",S14024,20151030,2-20080925-4
812,CS034813000001,Yuko Yasuko,1,Male,1932-03-03,87,216-0001,"Nogawa, Miyamae -ku, Kawasaki City, Kanagawa P...",S14034,20150625,0-00000000-0
133,CS039813000020,Toshima light,1,Male,1932-03-29,87,167-0034,"Momoi, Suginami -ku, Tokyo",S13039,20150630,0-00000000-0
129,CS002815000035,Ema Kawano,1,Male,1932-04-17,86,185-0024,"Izumi -cho, Kokubunji, Tokyo",S13002,20161227,3-20090908-2
399,CS032815000020,Natsuki Doi,1,Male,1932-06-14,86,144-0056,"Nishi -Rokugo, Ota -ku, Tokyo",S13032,20151104,0-00000000-0
128,CS007813000023,Airi Mizoguchi,1,Male,1932-06-28,86,285-0843,"Nakashizu, Sakura City, Chiba Prefecture",S12007,20150501,0-00000000-0

---
> P-019: For the receipt details data (df_receipt), rank the items in descending order by sales amount per item (amount), and display the top 10 rows with the assigned rank. The columns to display are customer ID (customer_id) and sales amount (amount). In the case of ties in sales amount, assign the same rank and skip the next rank.

In [120]:
# Answer
df_receipt_019 = df_receipt[["amount"]].rank(method="min", ascending=False).rename(columns={"amount":"ranking"}).astype("int")
df_receipt_019 = pd.concat([df_receipt[["customer_id", "amount"]], df_receipt_019], axis=1)
df_receipt_019.sort_values("ranking").head(10)

          customer_id  amount  ranking
1202   CS011415000006   10925        1
62317  ZZ000000000000    6800        2
54095  CS028605000002    5780        3
4632   CS015515000034    5480        4
72747  ZZ000000000000    5480        4
10320  ZZ000000000000    5480        4
97294  CS021515000089    5440        7
28304  ZZ000000000000    5440        7
92246  CS009415000038    5280        9
68553  CS040415000200    5280        9

---
> P-020: For the receipt details data (df_receipt), rank the items in descending order by sales amount per item (amount), and display the top 10 rows with the assigned rank. The columns to display are customer ID (customer_id) and sales amount (amount). In the case of ties in sales amount, assign the same rank but give the next rank to the following item.

In [122]:
# Attempt
df_receipt_020 = df_receipt[["amount"]].rank(method="first", ascending=False).rename(columns={"amount":"ranking"}).astype("int")
df_receipt_020 = pd.concat([df_receipt[["customer_id", "amount"]], df_receipt_020], axis=1)
df_receipt_020.sort_values("ranking").head(10)

          customer_id  amount  ranking
1202   CS011415000006   10925        1
62317  ZZ000000000000    6800        2
54095  CS028605000002    5780        3
4632   CS015515000034    5480        4
10320  ZZ000000000000    5480        5
72747  ZZ000000000000    5480        6
28304  ZZ000000000000    5440        7
97294  CS021515000089    5440        8
596    CS015515000083    5280        9
11275  CS017414000114    5280       10

---
> P-021: Count the number of items in the receipt details data (df_receipt).

In [125]:
len(df_receipt)

104681

---
> P-022: Count the number of unique values in the customer ID (customer_id) column in the receipt details data (df_receipt).

In [127]:
len(df_receipt["customer_id"].unique())

8307

In [128]:
# Alternative:
df_receipt["customer_id"].nunique()

8307

---
> P-023: For the receipt details data (df_receipt), sum the sales amount (amount) and sales quantity (quantity) for each store code (store_cd).

In [129]:
(
    df_receipt.groupby("store_cd")
    .agg(
        {
            "amount": "sum",
            "quantity": "sum"
        }
    )
    .reset_index()
).head(10)

  store_cd  amount  quantity
0   S12007  638761      2099
1   S12013  787513      2425
2   S12014  725167      2358
3   S12029  794741      2555
4   S12030  684402      2403
5   S13001  811936      2347
6   S13002  727821      2340
7   S13003  764294      2197
8   S13004  779373      2390
9   S13005  629876      2004

In [132]:
(
    df_receipt.groupby("store_cd")
    .agg(
        amount = ("amount", "sum"),
        quantity = ("quantity", "sum")
    )
    .reset_index()
).head(10)

  store_cd  amount  quantity
0   S12007  638761      2099
1   S12013  787513      2425
2   S12014  725167      2358
3   S12029  794741      2555
4   S12030  684402      2403
5   S13001  811936      2347
6   S13002  727821      2340
7   S13003  764294      2197
8   S13004  779373      2390
9   S13005  629876      2004

---
> P-024: For each customer ID (customer_id) in the receipt details data (df_receipt), find the most recent sales date (sales_ymd), and display the top 10 rows.

In [133]:
# Answer
df_receipt.groupby("customer_id").agg({"sales_ymd": "max"}).reset_index().head(10)

      customer_id  sales_ymd
0  CS001113000004   20190308
1  CS001114000005   20190731
2  CS001115000010   20190405
3  CS001205000004   20190625
4  CS001205000006   20190224
5  CS001211000025   20190322
6  CS001212000027   20170127
7  CS001212000031   20180906
8  CS001212000046   20170811
9  CS001212000070   20191018

---
> P-025: For each customer ID (customer_id) in the receipt details data (df_receipt), find the oldest sales date (sales_ymd), and display the top 10 rows.

In [134]:
df_receipt.groupby("customer_id").agg({"sales_ymd": "min"}).reset_index().head(10)

      customer_id  sales_ymd
0  CS001113000004   20190308
1  CS001114000005   20180503
2  CS001115000010   20171228
3  CS001205000004   20170914
4  CS001205000006   20180207
5  CS001211000025   20190322
6  CS001212000027   20170127
7  CS001212000031   20180906
8  CS001212000046   20170811
9  CS001212000070   20191018

In [135]:
# Alternative
df_receipt.groupby("customer_id").sales_ymd.min().reset_index().head(10)

      customer_id  sales_ymd
0  CS001113000004   20190308
1  CS001114000005   20180503
2  CS001115000010   20171228
3  CS001205000004   20170914
4  CS001205000006   20180207
5  CS001211000025   20190322
6  CS001212000027   20170127
7  CS001212000031   20180906
8  CS001212000046   20170811
9  CS001212000070   20191018

---
> P-026: For each customer ID (customer_id) in the receipt details data (df_receipt), find the most recent and the oldest sales dates (sales_ymd), and display the top 10 rows where the gap is the smallest.

---
> P-027: For each store code (store_cd) in the receipt details data (df_receipt), calculate the average sales amount (amount), and display the top 5 in descending order.

---
> P-028: For each store code (store_cd) in the receipt details data (df_receipt), calculate the median sales amount (amount), and display the top 5 in descending order.

---
> P-029: For each store code (store_cd) in the receipt details data (df_receipt), find the most frequent product code (product_cd), and display the top 10.

---
> P-030: For each store code (store_cd) in the receipt details data (df_receipt), calculate the variance of the sales amount (amount), and display the top 5 in descending order.

---
> P-031: For each store code (store_cd) in the receipt details data (df_receipt), calculate the standard deviation of the sales amount (amount), and display the top 5 in descending order.

TIPS:

Pay attention to the default ddof value difference between Pandas and Numpy.
```
Pandas：
DataFrame.std(self, axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)
Numpy:
numpy.std(a, axis=None, dtype=None, out=None, ddof=0, keepdims=)
```

---
> P-032: For the sales amount (amount) in the receipt details data (df_receipt), calculate the 25th and 75th percentile values.

---
> P-033: For the receipt details data (df_receipt), calculate the average sales amount (amount) for each store code (store_cd), and extract those that are 330 or more.

---
> P-034: For the receipt details data (df_receipt), calculate the average sales amount (amount) per customer ID (customer_id), and exclude the average sales amount per customer whose ID starts with "Z" from the overall average calculation.

---
> P-035: For the receipt details data (df_receipt), calculate the average sales amount (amount) per customer ID (customer_id), and extract the top 10 customers with above-average sales amounts. Exclude the average sales amount per customer whose ID starts with "Z" from the overall average calculation.

---
> P-036: Merge the receipt details data (df_receipt) and the store data (df_store), and display 10 rows of all items, including the store name (store_name) from the store data.

---
> P-037: Merge the product data (df_product) and the category data (df_category), and display 10 rows of all items, including the category small name (category_small_name) from the category data.

---
> P-038: From the customer data (df_customer) and the receipt details data (df_receipt), calculate the total sales amount for each customer and display the top 10. However, exclude customers without sales data and only display female customers (gender code (gender_cd) = 1).

---
> P-039: From the receipt details data (df_receipt), create a dataset of the top 20 customers with the highest number of sales transactions and another dataset of the top 20 customers with the highest total sales amount, then merge these two datasets to display the top 20. Exclude non-members (customer ID (customer_id) starting with "Z").

---
> P-040: Create a dataset combining all products from all stores, and merge it with the store data (df_store) and product data (df_product).

---
> P-041: For the sales amount (amount) in the receipt details data (df_receipt), calculate the difference in sales amount for each sales date (sales_ymd) compared to the previous day, then display the top 10 results.

---
> P-042: For the sales amount (amount) in the receipt details data (df_receipt), calculate the difference in sales amount for each sales date (sales_ymd) compared to the previous day, two days before, and three days before, then display the top 10 results.

---
> P-043: Merge the receipt details data (df_receipt) and customer data (df_customer), and create a summary dataset of total sales amount (amount) by gender code (gender_cd) and age group. Gender code 0 indicates male, 1 indicates female, and 9 indicates unknown. Display the total sales amount for each gender and age group, as well as a crosstabulation of gender and age group. Also, display the top 10 rows.

---
> P-044: The summary dataset created in P-043 (df_sales_summary) shows the total sales amount by gender and age group. Change the gender code values to "00" for male, "01" for female, and "99" for unknown, then display the top 10 rows.

---
> P-045: The birth date (birth_day) in the customer data (df_customer) is stored as date type data. Convert this to a string in the format YYYYMMDD and display it along with the customer ID (customer_id), showing the top 10 rows.

---
> P-046: The application date (application_date) in the customer data (df_customer) is stored as a string in the format YYYYMMDD. Convert this to date type data and display it along with the customer ID (customer_id), showing the top 10 rows.

---
> P-047: The sales date (sales_ymd) in the receipt details data (df_receipt) is stored as an integer in the format YYYYMMDD. Convert this to date type data and display it along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows.

---
> P-048: The sales epoch (sales_epoch) in the receipt details data (df_receipt) is stored as integer UNIX seconds. Convert this to date type data and display it along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows.

---
> P-049: Convert the sales epoch (sales_epoch) in the receipt details data (df_receipt) to date type data and extract only the "year". Display this along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows.

---
> P-050: Convert the sales epoch (sales_epoch) in the receipt details data (df_receipt) to date type data and extract only the "month". Display this along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows. Note that "month" should be extracted as a 2-digit number.

---
> P-051: Convert the sales epoch (sales_epoch) in the receipt details data (df_receipt) to date type data and extract only the "day". Display this along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows. Note that "day" should be extracted as a 2-digit number.

---
> P-052: For the receipt details data (df_receipt), calculate the total sales amount (amount) for each customer ID (customer_id). If the total is 2,000 yen or less, double the amount; if it is more than 2,000 yen, halve the amount. Display the customer ID and the calculated sales amount, showing the top 10 rows. Exclude customers whose ID starts with "Z".

---
> P-053: For the customer data (df_customer), reclassify the postal code (postal_cd) into two categories: "Tokyo" (if the first three digits are between 100 and 209) and "Other". Merge this with the receipt details data (df_receipt) and count the number of customers with sales records within each category.

---
> P-054: The address (address) in the customer data (df_customer) contains prefectures such as Saitama, Chiba, Tokyo, and Kanagawa. Create a code table for these prefectures and display it along with the customer ID and address, showing the top 10 rows. Assign Saitama a code of 11, Chiba 12, Tokyo 13, and Kanagawa 14.

---
> P-055: For the receipt details data (df_receipt), calculate the total sales amount (amount) for each customer ID (customer_id) and determine its quartile rank. Based on the quartile rank, create a category with the following values and display the customer ID and total sales amount, showing the top 10 rows:
> - 1: Bottom quartile (0-25%)
> - 2: Second quartile (25-50%)
> - 3: Third quartile (50-75%)
> - 4: Top quartile (75-100%)

---
> P-056: Extract the age (age) from the customer data (df_customer) and classify it into age groups by decade. Display the customer ID and birth date (birth_day), showing the top 10 rows. Treat customers aged 60 and above as a single category of "60+". The age category should be labeled.

---
> P-057: Using the extracted age groups and gender code (gender_cd) from P-056, create a new categorical dataset representing the combination of age group and gender. Display the top 10 rows and list the unique values of the combined category.

---
> P-058: P-058: Convert the gender code (gender_cd) in the customer data (df_customer) to dummy variables and display it along with the customer ID (customer_id), showing the top 10 rows.

---
> P-059: For the receipt details data (df_receipt), calculate the average, standard deviation, and coefficient of variation of the total sales amount (amount) for each customer ID (customer_id), and display the top 10 rows along with the customer ID and total sales amount. Use either the population standard deviation or the sample standard deviation. Exclude customers whose ID starts with "Z".

TIPS:
- You can specify "python" or "numexpr" as the query engine in the argument of the query() method. The default is "numexpr" if installed, otherwise "python" is used. Additionally, the string method engine='python' cannot be used within query().

---
> P-060: For the receipt details data (df_receipt), calculate the minimum and maximum total sales amount (amount) for each customer ID (customer_id), and normalize these values. Display the top 10 rows along with the customer ID and total sales amount. Exclude customers whose ID starts with "Z".

---
> P-061: For the receipt details data (df_receipt), calculate the total sales amount (amount) for each customer ID (customer_id), and apply the natural logarithm transformation (base 10). Display the top 10 rows along with the customer ID and total sales amount. Exclude customers whose ID starts with "Z".

---
> P-062: For the receipt details data (df_receipt), calculate the total sales amount (amount) for each customer ID (customer_id), and apply the natural logarithm transformation (base e). Display the top 10 rows along with the customer ID and total sales amount. Exclude customers whose ID starts with "Z".

---
> P-063: For the product data (df_product), calculate the gross profit for each product using the unit price (unit_price) and unit cost (unit_cost), and display the top 10 rows.

---
> P-064: For each product in the product data (df_product), calculate the average gross profit margin using the unit price (unit_price) and unit cost (unit_cost). Note that the unit price and unit cost may have missing values.

---
> P-065: For each product in the product data (df_product), calculate the new unit price that achieves a gross profit margin of 30%. Round down to the nearest yen. Display the top 10 results and confirm that the gross profit margin is approximately 30%. Note that the unit price (unit_price) and unit cost (unit_cost) may have missing values.

---
> P-066: For each product in the product data (df_product), calculate the new unit price that achieves a gross profit margin of 30%. This time, round up to the nearest yen (ceil). Display the top 10 results and confirm that the gross profit margin is approximately 30%. Note that the unit price (unit_price) and unit cost (unit_cost) may have missing values.

---
> P-067: For each product in the product data (df_product), calculate the new unit price that achieves a gross profit margin of 30%. This time, round up to the nearest yen. Display the top 10 results and confirm that the gross profit margin is approximately 30%. Note that the unit price (unit_price) and unit cost (unit_cost) may have missing values.

---
> P-068: For each product in the product data (df_product), calculate the price including a 10% consumption tax. Round down to the nearest yen and display the top 10 results. Note that the unit price (unit_price) may have missing values.

---
> P-069: Merge the receipt details data (df_receipt) and the product data (df_product), then calculate the total sales amount for each customer annually. Calculate the percentage of sales for the category major code (category_major_cd) "07" (Household appliances) and display the top 10 results. The extraction target is the category major code "07".

---
> P-070: For the receipt details data (df_receipt), calculate the number of elapsed days from the application date (application_date) of the customer data (df_customer) for each sales date (sales_ymd). Display the customer ID (customer_id), sales date, and elapsed days along with the application date, showing the top 10 rows. Note that the application date is stored as a string.

---
> P-071: For the receipt details data (df_receipt), calculate the number of elapsed months from the application date (application_date) in the customer data (df_customer) for each sales date (sales_ymd). Display the customer ID (customer_id), sales date, application date, and elapsed months along with the top 10 rows. Note that sales_ymd is stored as an integer.

---
> P-072: For the receipt details data (df_receipt), calculate the number of elapsed years from the application date (application_date) in the customer data (df_customer) for each sales date (sales_ymd). Display the customer ID (customer_id), sales date, application date, and elapsed years along with the top 10 rows. Note that sales_ymd is stored as an integer.

---
> P-073: For the receipt details data (df_receipt), calculate the elapsed time in epochs from the application date (application_date) in the customer data (df_customer) for each sales date (sales_ymd). Display the customer ID (customer_id), sales date, application date, and elapsed time in epochs along with the top 10 rows. Note that sales_ymd and application_date are stored as integers. Also, assume that the default time for dates without a time component is 00:00:00.

---
> P-074: For the receipt details data (df_receipt), calculate the number of elapsed months from the current month to each sales date (sales_ymd). Display the sales date, current month, and elapsed months along with the top 10 rows. Note that sales_ymd is stored as an integer.

---
> P-075: Randomly sample 1% of the data from the customer data (df_customer) and display the top 10 rows.

---
> P-076: Randomly sample 10% of the data from the customer data (df_customer) by gender (gender_cd), and display the frequency count for each gender.

---
> P-077: For the receipt details data (df_receipt), calculate the sales amount per transaction, identify and extract outliers, and calculate the average and standard deviation for the remaining transactions. Consider values that are more than 3 standard deviations away from the average as outliers. Display the results and the top 10 rows.

---
> P-078: For the receipt details data (df_receipt), calculate the sales amount (amount) per transaction and identify outliers. Exclude non-members whose customer ID starts with "Z" from the calculation. Use the IQR method to identify outliers, defined as values greater than Q3 + 1.5 * IQR or less than Q1 - 1.5 * IQR. Display the results and the top 10 rows.

---
> P-079: For the product data (df_product), check for missing values in each item.

---
> P-080: For the product data (df_product), create a new dataset by removing records with missing values in any of the items. Confirm that there are no missing values left by verifying the count of records before and after the operation performed in P-079.

---
> P-081: For the product data (df_product), impute missing values in unit price (unit_price) and unit cost (unit_cost) with their respective means, and create a new dataset. Round up the means to the nearest yen if necessary. After imputation, confirm that there are no missing values in any of the items.

---
> P-082: For the product data (df_product), impute missing values in unit price (unit_price) and unit cost (unit_cost) with their respective medians, and create a new dataset. Round up the medians to the nearest yen if necessary. After imputation, confirm that there are no missing values in any of the items.

---
> P-083: For the product data (df_product), impute missing values in unit price (unit_price) and unit cost (unit_cost) by the median of each product's category small code (category_small_cd), and create a new dataset. Round up the medians to the nearest yen if necessary. After imputation, confirm that there are no missing values in any of the items.

---
> P-084: For the customer data (df_customer), calculate the total sales amount by occupation and the proportion of sales in 2019. Create a new dataset with these values, assuming no sales information exists if data is missing. Extract the proportion of sales and display the top 10 rows. Additionally, check for any missing values in the newly created data.

---
> P-085: For the customer data (df_customer), create new data by adding latitude and longitude coordinates for each postal code (postal_cd) using a geocode table (df_geocode). If a postal code has multiple coordinates, use the average latitude and longitude values. Display the top 10 rows to verify the results.

---
> P-086: Using the data created in P-085, combine it with the store data (df_store) based on the application store code (application_store_cd) to create a new dataset. Calculate the distance between the customer's address (latitude, longitude) and the store's address (latitude, longitude) for each application store and display the top 10 rows. You can use a library for distance calculation if necessary.

$$
\mbox{緯度（ラジアン）}：\phi \\
\mbox{経度（ラジアン）}：\lambda \\
\mbox{距離}L = 6371 * \arccos(\sin \phi_1 * \sin \phi_2
+ \cos \phi_1 * \cos \phi_2 * \cos(\lambda_1 − \lambda_2))
$$

---
> P-087: In the customer data (df_customer), there are cases where the same customer is registered at different stores under slightly different names or addresses. Create a new dataset by consolidating records where the customer name (customer_name) and postal code (postal_cd) are considered the same if they match exactly. In cases where there are discrepancies, prioritize the record with the higher total sales amount, or if sales amounts are equal, prioritize the record with the smaller customer ID.

---
> P-088: Using the data created in P-087, create a new dataset with consolidated customer data according to the following specifications:
> - Retain only the customer ID (customer_id).
> - For duplicate records, use the receipt number (receipt_no) from the previous extracted receipt record.
> - Ensure the uniqueness of the customer ID in the new dataset.

---
> P-089: Split the receipt data (df_receipt) into training and test datasets for predictive modeling. Use an 80:20 ratio for the split.

---
> P-090: For the receipt details data (df_receipt), extract data from January 1, 2017, to October 31, 2019. Create three sets of monthly sequential sales data: 12 months for training, 6 months for testing, and 6 months for validation.

---
> P-091: For the customer data (df_customer), perform undersampling to ensure that the number of customers without sales records is equal to the number of customers with sales records.

---
> P-092: For the customer data (df_customer), normalize the gender code (gender_cd) into three categories: male, female, and unknown.

---
> P-093: For the product data (df_product), merge with the category data (df_category) to retain the category name while keeping the category code intact. Create a new product dataset with this combined information.

---
> P-094: Save the new product dataset created in P-093 with the category names included as a CSV file with the following specifications:
> - File format: CSV (comma-separated values)
> - Header: No
> - Text encoding: UTF-8
> - File output path: /data

---
> P-095: Save the new product dataset created in P-093 with the category names included as a CSV file with the following specifications:
> - File format: CSV (comma-separated values)
> - Header: Yes
> - Text encoding: CP932
> - File output path: /data

---
> P-096: Save the new product dataset created in P-093 with the category names included as a CSV file with the following specifications:
> - File format: CSV (comma-separated values)
> - Header: No
> - Text encoding: UTF-8
> - File output path: /data

---
> P-097: Load the file created in P-094 and display 3 rows to confirm that the data is correctly imported. The file specifications are as follows:
> - File format: CSV (comma-separated values)
> - Header: Yes
> - Text encoding: UTF-8

---
> P-098: Load the file created in P-096 and display 3 rows to confirm that the data is correctly imported. The file specifications are as follows:
> - File format: CSV (comma-separated values)
> - Header: No
> - Text encoding: UTF-8

---
> P-099: Save the new product dataset created in P-093 with the category names included as a TSV file with the following specifications:
> - File format: TSV (tab-separated values)
> - Header: Yes
> - Text encoding: UTF-8
> -File output path: /data

---
> P-100: Load the file created in P-099 with the following specifications, display 3 rows of data, and confirm that the data is correctly imported:
> - File format: TSV (tab-separated values)
> - Header: Yes
> - Text encoding: UTF-8

## This concludes the 100 exercises. Well done!